{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Home - Numerical Methods {% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Hello</h1>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{% url 'integration' %}" class="text-decoration-none text-dark">Integration</a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{% url 'interpolation' %}" class="text-decoration-none text-dark">Interpolation</a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{% url 'nonlinear' %}" class="text-decoration-none text-dark">Non-Linear Equation</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{% url 'ode_home' %}" class="text-decoration-none text-dark">Ordinary Differential Equations</a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="#" class="text-decoration-none text-dark">Partial Differential Equations</a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{% url 'linearAlgebra' %}" class="text-decoration-none text-dark">Linear Algebra</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
