{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Home - Numerical Methods {% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Hello</h1>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{% url 'home_nm' %}" class="text-decoration-none text-dark">Numerical Methods</a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{% url 'stock_home' %}" class="text-decoration-none text-dark">Stock Forecaster</a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="#" class="text-decoration-none text-dark">Operating Systems</a>
                        </h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="#" class="text-decoration-none text-dark">Discrete Structure</a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="#" class="text-decoration-none text-dark">Digital Logic</a>
                        </h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="#" class="text-decoration-none text-dark">Probability And Stats</a>
                        </h3>
                    </div>
                </div>
            </div>

        </div>

            
    </div>
{% endblock %}
