{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Home - Linear Algebra App {% endblock %}
{% block content %}

  <h1>
    Ordinary Differential Equations 
  </h1>

  <div class="container mt-5">

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="#" class="text-decoration-none text-dark">Laplace</a>
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="#" class="text-decoration-none text-dark">Poisson</a>
                    </h3>
                </div>
            </div>
        </div>
        
        
    </div>

    
</div>
{% endblock %}
